<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>로그인</h1>
    <form method="POST" action="/member/dologin">
        <input type="text" name="username" placeholder="ID">
        <input type="text" name="password" placeholder="PW">
        <input type="submit" value="login">
    </form>
</body>
</html>